<!DOCTYPE html>
<html>
  <body style="margin: 0px">
    <div style="height: 150px; width: 100%">
      <div style="height: 150px; width: 100%; float: left">
        <div style="height: 100%; width: 50%; float: left">
          <p style="margin-left: 70px; line-height: 170px; font-size: 20px">
            Private & Confidential
          </p>
        </div>
        <div style="height: 100%; width: 50%; float: left ; margin: 0px;">
          <img
            src="../uploads/footer.png"
            alt="footer"
            style="margin-top: 40px; margin-left: 335px"
          />
        </div>
      </div>
    </div>
  </body>
</html>
